.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span= user.name || user.email
              i.caret
            ul.dropdown-menu
              li
                a(href='/logout') Logout